<footer>
    <div class="footer-flex">
        <div class="footer__container">
            <p><span><i class="fa-solid fa-phone"></i></span>55 1234 5678</p>
            <p><span><i class="fa-solid fa-envelope"></i></span>contacto@mail.com</p>
        </div>
        
        <div class="footer__container">
            <p>Reclamaciones</p>
            <p>Aviso legal</p>
            <p>Aviso de privacidad</p>
        </div>
    </div>

    <div class="footer-flex">
        <div class="footer__container">
            <p>Todos los derechos reservados</p>
        </div>
        
        <div class="footer__containerSocial">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        
    </div>

    
</footer>
