<section>
    <div class="container container-flex">
        <div class="letrero">
            <h1>
                Añadir 
                Beneficiarios
            </h1>
        </div>
        <div>
            <div class="container-form">
                <p id="letrero">
                    Recuerda que puedes añadir hasta cinco beneficiarios:
                </p>
                
                <form>
                    <div class="container-flex-form">
                        <div>
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" placeholder="Nombre Completo">
                        </div>
                        
                        <div>
                            <label for="parentesco">Parentesco:</label>
                            <input type="text" id="parentesco" placeholder="Parentesco">
                        </div>
                        
                        <div>
                            <label for="porcentaje">Porcentaje:</label>
                            <input type="text" id="porcentaje" placeholder="100%">
                        </div>
                       
                    </div>
                    <div class="container-flex-form">

                        <div>
                            <label for="nombre">CURP:</label>
                            <input type="text" id="nombre" placeholder="Nombre Completo">
                        </div>

                        <div>
                            <label for="nombre">Telefono:</label>
                            <input type="text" id="nombre" placeholder="Nombre Completo">
                        </div>

                        <div class="button-flex">
                            <button> REMOVER </button>
                        </div>
                    </div>
                    <div class="flex-end">
                        <button> Añadir beneficiario </button>
                    </div>
                </form>
            </div>
            <div class="asesoramiento">
                
               
                    <input type="checkbox" name="my-checkbox" id="opt-in">
                    <p>
                        Deseo que un asesor me contacte para añadir un beneficiario en caso de <br>
                        fallecimiento de otro beneficiario
                    </p>
                 
            </div>
            <div class="container-flex-btn">
                
                    <button>
                        anterior
                    </button>
                
               
                
                    <button id="secondary">
                        siguiente
                    </button>
                
            </div>
        </div>
    </div>
</section>









